.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px;
}

.cards .cards-card-body h3 {
  margin: 0;
}

.cards .cards-card-body p {
  margin: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: min(70%, 180px);
  margin: 0 auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
